<div class="row" ng-controller="ProjectController as pc">
	<h1>Projects</h1>
	<hr />
<!-- 	<section>
		<h3>
			<span class="text-muted">//under development...</span>
		</h3>
		<h4>
			{{ pc.projects[0].name }}
		</h4>
	</section> -->

<div class="row">
<div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
      <input type="text" class="form-control" aria-label="..." ng-model="search">
    </div><!-- /input-group -->
  </div><!-- /.col-md-8 -->
  <div class="col-md-2"></div>
</div>

	<section class="col-md-4 panel panel-defualt" ng-repeat="project in pc.projects | filter:search">
		<header class="panel-heading">
			<h3>{{ project.name }}</h3>
			<div class="well">
				<h5> {{ project.start }} - {{ project.complete }} </h5>
				<h5><b>Type:</b> {{ project.type }} <b>Status:</b> {{ project.status }} </h5>
			</div>
		</header>
		<div class="panel-body">
			<h4>Description:</h4>
			<p>
				{{ project.description }}
			</p>
		</div>
		<footer class="panel-footer">
			<h6>Technologies: <span ng-repeat="tech in project.techs"> {{ tech }}, </span></h6>
			<h6>Blog Tags: <span ng-repeat="tag in project.tags"> {{ tag }}, </span></h6>
		</footer>
	</section>
	
</div>
