<div class="container">
    <div class="row" ng-controller="ProjectController as pc">
        <h1>Projects</h1>
        <hr/>
        <!-- 	<section>
                <h3>
                    <span class="text-muted">//under development...</span>
                </h3>
                <h4>
                    {{ pc.projects[0].name }}
                </h4>
            </section> -->

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div><!-- /btn-group -->
                    <input type="text" class="form-control" aria-label="..." ng-model="search">
                </div><!-- /input-group -->
            </div><!-- /.col-md-8 -->
            <div class="col-md-2"></div>
        </div>

        <div class="container drop-shadow">
            <section class="col-md-4 panel panel-defualt" ng-repeat="project in pc.projects | filter:search">
                <header class="panel-heading" style="margin-bottom: 0; padding-bottom: 0">
                    <h3 style="text-align: center" class="bold">{{ project.name }}</h3>
                    <div class="well well-sm">
                        <div style="overflow: hidden">
                            <div class="pBlock">
                                <h5><b>Type:</b> {{ project.type }}</h5>
                                <h5><b>Status:</b> {{ project.status }}</h5>
                            </div><!-- pBlock -->
                            <div class="pBlock" style="text-align: right">
                                <h5><b>Start:</b> {{ project.start }}</h5>
                                <h5><b>End:</b> {{ project.complete }}</h5>
                            </div><!-- pBlock -->
                        </div><!-- isolating div -->
                    </div><!-- well -->
                </header>
                <div class="panel-body" style="padding-top: 0; margin-top: 0">
                    <h4>Description:</h4>
                    <p>
                        {{ project.description }}
                    </p>
                </div><!-- body -->
                <footer class="panel-footer" style="text-align: center">
                    <div style="overflow: hidden">
                        <div class="pBlock">
                            <h6><b>Technologies:</b></h6>
                            <span ng-repeat="tech in project.techs">{{ tech }}{{ $last ? '' : ', '}}</span>
                        </div>
                        <div class="pBlock">
                            <h6><b>Blog Tags:</b></h6>
                            <span ng-repeat="tag in project.tags">{{ tag }}{{ $last ? '' : ', '}}</span>
                        </div>
                    </div>
                </footer>
            </section>
        </div>

    </div>
</div>
